/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */
@font-face {
  font-family: Stentiga;
  src: url("stentiga.otf");
}

/* line 37, /home/skwh/Documents/rails_projects/anson-rails/app/assets/stylesheets/application.css.scss */
body, html {
  margin: 0;
}

/* line 40, /home/skwh/Documents/rails_projects/anson-rails/app/assets/stylesheets/application.css.scss */
body {
  background-color: black;
  font-family: "Futura", "Veranda", "Heveletica", sans-serif;
}

/* line 44, /home/skwh/Documents/rails_projects/anson-rails/app/assets/stylesheets/application.css.scss */
#site_body {
  margin: auto;
  width: 75%;
  padding: 10px;
  color: #cccccc;
}

/* line 51, /home/skwh/Documents/rails_projects/anson-rails/app/assets/stylesheets/application.css.scss */
#header {
  margin: 0;
  font-family: "Futura", sans-serif;
}
/* line 54, /home/skwh/Documents/rails_projects/anson-rails/app/assets/stylesheets/application.css.scss */
#header div#header_title {
  color: #1e1e1e;
  font-family: Stentiga, "Futura", sans-serif;
  background-color: #cccccc;
  background-image: url("header_slice.jpg");
  background-repeat: repeat-x;
  margin: 0px;
  width: 100%;
  height: 43px;
  text-align: center;
  font-size: 25pt;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  z-index: 5;
  box-shadow: 0px 1px 10px 3px rgba(0, 0, 0, 0.3);
  position: relative;
  /*.name:hover, .des:hover {
  	text-shadow: 0 2px 0 rgba(255,255,255,0.5), 1px -1px 1px $lightblue;
  }*/
}
/* line 69, /home/skwh/Documents/rails_projects/anson-rails/app/assets/stylesheets/application.css.scss */
#header div#header_title p {
  margin: 0;
  padding: 5px;
  font-size: 20pt;
}
/* line 74, /home/skwh/Documents/rails_projects/anson-rails/app/assets/stylesheets/application.css.scss */
#header div#header_title .name {
  font-size: 20pt !important;
  padding: 5px;
  padding-bottom: 7px;
  letter-spacing: 1px;
}
/* line 80, /home/skwh/Documents/rails_projects/anson-rails/app/assets/stylesheets/application.css.scss */
#header div#header_title .des {
  font-size: 14pt !important;
  letter-spacing: 5px;
  padding: 5px;
  vertical-align: 5%;
  font-weight: 600;
}
/* line 91, /home/skwh/Documents/rails_projects/anson-rails/app/assets/stylesheets/application.css.scss */
#header div#header_navbar {
  background-color: #333333;
  color: #99989d;
  border-bottom: 3px solid #cccccc;
  z-index: 1;
}
/* line 97, /home/skwh/Documents/rails_projects/anson-rails/app/assets/stylesheets/application.css.scss */
#header ul {
  list-style-type: none;
  margin: auto;
  padding: 0;
  width: 526px;
}
/* line 102, /home/skwh/Documents/rails_projects/anson-rails/app/assets/stylesheets/application.css.scss */
#header ul li {
  display: inline-block;
  text-transform: uppercase;
  padding: 5px 15px;
  border-style: solid;
  border-top-style: none;
  border-bottom-style: none;
  border-right-color: #282828;
  border-left-color: rgba(255, 255, 255, 0.2);
  border-width: 0px 2px 0px 1px;
  margin: 0px -2px;
  font-weight: bold;
}
/* line 114, /home/skwh/Documents/rails_projects/anson-rails/app/assets/stylesheets/application.css.scss */
#header ul li a {
  margin: 5px;
  font-size: 11pt;
  text-decoration: none;
  color: inherit;
}
/* line 121, /home/skwh/Documents/rails_projects/anson-rails/app/assets/stylesheets/application.css.scss */
#header ul li:hover {
  color: #3366bb;
  background-color: #262620;
  text-shadow: 1px 1px 6px #2428AD;
}

/* line 129, /home/skwh/Documents/rails_projects/anson-rails/app/assets/stylesheets/application.css.scss */
div#footer {
  color: #6c6b6e;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #333333;
  height: 5%;
  width: 100%;
  position: fixed;
  top: 95%;
  text-align: center;
  font-family: "Futura", "Veranda", "Heveletica", sans-serif;
}
/* line 140, /home/skwh/Documents/rails_projects/anson-rails/app/assets/stylesheets/application.css.scss */
div#footer p {
  margin: 0px;
  padding: 8px;
  font-size: 11pt;
}
/* line 145, /home/skwh/Documents/rails_projects/anson-rails/app/assets/stylesheets/application.css.scss */
div#footer span.newbutton {
  float: right;
  padding: 0px 4px;
  border: 1px solid #6c6b6e;
  border-radius: 15px;
}
/* line 150, /home/skwh/Documents/rails_projects/anson-rails/app/assets/stylesheets/application.css.scss */
div#footer span.newbutton:hover {
  background-color: #6c6b6e;
}

/* line 156, /home/skwh/Documents/rails_projects/anson-rails/app/assets/stylesheets/application.css.scss */
#general_body {
  background-color: #191919;
  border: 1px outset rgba(255, 255, 255, 0.2);
  border-radius: 25px;
  padding: 20px;
}

/* line 163, /home/skwh/Documents/rails_projects/anson-rails/app/assets/stylesheets/application.css.scss */
.current_page {
  background-color: #262620;
  color: #36b;
  text-shadow: 1px 1px 6px #2428ad;
}

/* line 169, /home/skwh/Documents/rails_projects/anson-rails/app/assets/stylesheets/application.css.scss */
.header_current_page {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

/* line 173, /home/skwh/Documents/rails_projects/anson-rails/app/assets/stylesheets/application.css.scss */
.nolink {
  color: inherit;
  text-decoration: inherit;
}

/* line 177, /home/skwh/Documents/rails_projects/anson-rails/app/assets/stylesheets/application.css.scss */
.nolink:hover {
  color: inherit;
}
/* line 5, /home/skwh/Documents/rails_projects/anson-rails/app/assets/stylesheets/project.css.scss */
div.project_header {
  margin: 5px;
}
/* line 7, /home/skwh/Documents/rails_projects/anson-rails/app/assets/stylesheets/project.css.scss */
div.project_header h2 {
  margin: 0px auto;
  font-size: 30pt;
  letter-spacing: 3px;
  color: #36b;
  text-shadow: 1px 1px 6px #2428AD;
  font-family: "Futura", Stentiga, sans-serif;
  /*border-bottom: 1px solid #ccc;*/
}

/* line 17, /home/skwh/Documents/rails_projects/anson-rails/app/assets/stylesheets/project.css.scss */
.section {
  margin: 5px;
  padding: 5px;
}
/* line 20, /home/skwh/Documents/rails_projects/anson-rails/app/assets/stylesheets/project.css.scss */
.section h3 {
  font-size: 20pt;
  margin: 0px 5px;
  color: #ccc;
  text-shadow: 1px 1px 6px #36b;
}

/* line 27, /home/skwh/Documents/rails_projects/anson-rails/app/assets/stylesheets/project.css.scss */
.subsection {
  border: 1px solid #00000F;
  border-radius: 25px;
  margin: 35px 7px;
  padding: 10px;
  background-image: url("section_slice.jpg");
  background-repeat: repeat-x;
  background-color: #0000FF;
  height: 390px;
  overflow: hidden;
  color: white;
}
/* line 39, /home/skwh/Documents/rails_projects/anson-rails/app/assets/stylesheets/project.css.scss */
.subsection div {
  display: inline-block;
}
/* line 43, /home/skwh/Documents/rails_projects/anson-rails/app/assets/stylesheets/project.css.scss */
.subsection .editing_controls {
  font-size: 7pt;
  color: #ccc;
}
/* line 48, /home/skwh/Documents/rails_projects/anson-rails/app/assets/stylesheets/project.css.scss */
.subsection .left_align, .subsection .right_align {
  width: 45%;
}
/* line 52, /home/skwh/Documents/rails_projects/anson-rails/app/assets/stylesheets/project.css.scss */
.subsection .left_align {
  margin: 0px 20px;
  float: left;
}
/* line 56, /home/skwh/Documents/rails_projects/anson-rails/app/assets/stylesheets/project.css.scss */
.subsection .right_align {
  float: right;
  margin: 10px;
  margin-top: 0px;
  border: 2px solid #ccc;
  border-radius: 15px;
  overflow: hidden;
  height: 390px;
}
/* line 66, /home/skwh/Documents/rails_projects/anson-rails/app/assets/stylesheets/project.css.scss */
.subsection .project_title, .subsection .project_subtitle {
  text-transform: uppercase;
  margin-left: 5px;
}
/* line 71, /home/skwh/Documents/rails_projects/anson-rails/app/assets/stylesheets/project.css.scss */
.subsection h4.project_title {
  font-family: "Futura","Veranda","Heveletica", sans-serif;
  margin: 5px 0px 5px 5px;
  font-size: 20pt;
  letter-spacing: 3px;
  text-shadow: 1px 1px 6px #000000;
}
/* line 79, /home/skwh/Documents/rails_projects/anson-rails/app/assets/stylesheets/project.css.scss */
.subsection h5.project_subtitle {
  font-family: "Veranda", "Futura", "Heveletica", sans-serif;
  margin-top: 0px;
  margin-bottom: 5px;
  font-size: 15pt;
  color: #36b;
  text-shadow: 1px 1px 6px #2428AD;
}
/* line 87, /home/skwh/Documents/rails_projects/anson-rails/app/assets/stylesheets/project.css.scss */
.subsection p.project_description {
  margin-left: 5px;
  overflow: auto;
  color: #c4c4c4;
  letter-spacing: 1px;
  line-height: 20px;
  text-align: justify;
}

/* line 97, /home/skwh/Documents/rails_projects/anson-rails/app/assets/stylesheets/project.css.scss */
.content {
  padding: 5px;
}
/* line 99, /home/skwh/Documents/rails_projects/anson-rails/app/assets/stylesheets/project.css.scss */
.content label {
  padding: 5px;
}
/* line 102, /home/skwh/Documents/rails_projects/anson-rails/app/assets/stylesheets/project.css.scss */
.content form {
  text-align: justify;
}
/* line 1, /home/skwh/Documents/rails_projects/anson-rails/app/assets/stylesheets/static_pages.css.scss */
.title {
  margin: 5px 0px;
  padding: 5px;
}

/* line 5, /home/skwh/Documents/rails_projects/anson-rails/app/assets/stylesheets/static_pages.css.scss */
form p {
  margin: 5px;
}
