<div id="footer">
	<p>Copyright 2014 tm tm tm nudist industries not responsible for indecent exposure filler text something to say here
		<a class="nolink" title="Don't worry about this." href="/newproj"><span class="newbutton">+</span></a>
	</p>
</div>