<div id="footer">
	<p>Copyright &copy; Anson Adams 2014
		<% if !user_verified? %>
			<a class="nolink" title="Admin Login" href="/login"><span class="newbutton">L</span></a>
		<% else %>
			<a class="nolink" title="New Project" href="/newproj"><span class="newbutton">+</span></a>
		<% end %>
	</p>
</div>