<div id="header">
	<div id="header_title">
		<a href="/" class="nolink">
			<p <% if current_page(request.fullpath) == 6 %> class="header_current_page" <% end %>>
				<span class="name">anSon adamS</span> | <span class="des"> <% if (Time.now.day == 29) && (Time.now.month == 5) %>Birthday Boy<% else %>Digital artiSt<% end %></span>
			</p>
		</a>
	</div>
	<div id="header_navbar">
		<ul class="navbar_ul">
			<li 
			<% if current_page(request.fullpath) == 3 %> class="current_page" <% end %>>
				<span class="li_wrapper">
					<%= link_to "3D Design", design_path %>
				</span>
			</li>
			<li <% if current_page(request.fullpath) == 4 %> class="current_page" <% end %>>
				<span class="li_wrapper">
					<%= link_to "Digital Art", art_path %>
				</span>
			</li>
			<li <% if current_page(request.fullpath) == 5 %> class="current_page" <% end %>>
				<span class="li_wrapper">
					<%= link_to "Visual Effects", effects_path %>
				</span>
			</li>
			<li
			<% if current_page(request.fullpath) == 2 %> class="current_page" <% end %>>
				<span class="li_wrapper">
					<%= link_to "About", about_path %>
				</span>
			</li>
		</ul>
	</div>
</div>