<div id="header">
	<div id="header_title">
		<a href="/" class="nolink">
			<p <% if current_page(request.fullpath) == 6 %> class="header_current_page" <% end %>>
				<span class="name">anSon adamS</span> | <span class="des">Digital 3D artiSt</span>
			</p>
		</a>
	</div>
	<div id="header_navbar">
		<ul class="navbar_ul">
			<li 
			<% if current_page(request.fullpath) == 3 %> class="current_page" <% end %>>
				<span class="li_wrapper">
					<a href="/design">3D Design</a>
				</span>
			</li>
			<li <% if current_page(request.fullpath) == 4 %> class="current_page" <% end %>>
				<span class="li_wrapper">
					<a href="/art">Digital Art</a>
				</span>
			</li>
			<li <% if current_page(request.fullpath) == 5 %> class="current_page" <% end %>>
				<span class="li_wrapper">
					<a href="/effects">Visual Effects</a>
				</span>
			</li>
			<li
			<% if current_page(request.fullpath) == 2 %> class="current_page" <% end %>>
				<span class="li_wrapper">
					<a href="/about">About</a>
				</span>
			</li>
		</ul>
	</div>
</div>