<div id="header">
	<div id="header_title">
		<a href="/" class="nolink"><p><span class="name">anson adams</span> | <span class="des">Digital 3D Artist</span></p></a>
	</div>
	<div id="header_navbar">
		<ul class="navbar_ul">
			<li <% if current_page(request.fullpath) == 3 %> class="current_page" <% end %>><a href="/design">3D Design</a></li>
			<li <% if current_page(request.fullpath) == 4 %> class="current_page" <% end %>><a href="/art">Digital Art</a></li>
			<li <% if current_page(request.fullpath) == 5 %> class="current_page" <% end %>><a href="/effects">Visual Effects</a></li>
			<li
			<% if current_page(request.fullpath) == 2 %> class="current_page" <% end %>
			><a href="/about">About</a></li>
		</ul>
	</div>
</div>