<div id="header">
	<div id="header_title">
		<a href="/" class="nolink"><p><span class="name">anson adams</span> | <span class="des">Digital 3D Artist</span></p></a>
	</div>
	<div id="header_navbar">
		<ul class="navbar_ul">
			<li><a href="/projects#design">3D Design</a></li>
			<li><a href="/projects#art">Digital Art</a></li>
			<li><a href="/projects#effects">Visual Effects</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/contact">Contact</a></li>
		</ul>
	</div>
</div>