<div id="header_large">
	<h1 class="title"><a href="/">Anson Adams</a></h1>
	<div class="centerme">
		<ul>
			<li class="header_item"><a href="/projects#design">3D Design</a></li>
			<li class="header_item"><a href="/projects#art">Digital Art</a></li>
			<li class="header_item"><a href="/projects#effects">Visual Effects</a></li>
			<li><a href="/contact">Contact</a></li>
		</ul>
	</div>
</div>