<div id="header_small">
		<ul>
			<li><a href="/" class="big_item">Anson Adams</a></li>
			<li class="header_item"><a href="/projects#design">3D Design</a></li>
			<li class="header_item"><a href="/projects#art">Digital Art</a></li>
			<li class="header_item"><a href="/projects#effects">Visual Effects</a></li>
			<li><a href="/contact">Contact</a></li>
		</ul>
</div>