<style>
.jssora01l, .jssora01r, .jssora01ldn, .jssora01rdn
{
    position: absolute;
    display: block;
    background: url(../assets/a01.png) no-repeat;
    overflow:hidden;
}
.jssora01l { background-position: -8px -38px; }
.jssora01r { background-position: -68px -38px; }
.jssora01l:hover { background-position: -128px -38px; }
.jssora01r:hover { background-position: -188px -38px; }
.jssora01ldn { background-position: -8px -38px; }
.jssora01rdn { background-position: -68px -38px; }
</style>
<!-- Arrow Left -->
<span u="arrowleft" class="jssora01l" style="width: 45px; height: 45px; top: 170px; left: 8px;">
</span>
<!-- Arrow Right -->
<span u="arrowright" class="jssora01r" style="width: 45px; height: 45px; top: 170px; left: 392px;">
</span>
<!-- Arrow Navigator Skin End -->