<% provide(:title,"3D Design") %>
<% @design.each do |project| %>
<div class="subsection">
	<div class="left_align">
		<h4 class="project_title"><%= project.title %></h4>
		<h5 class="project_subtitle"><%= project.subtitle %></h5>
		<hr />
		<p class="project_description"><%= project.description %></p>
	</div>
	<div class="right_align">
		<p>Images go here</p>
	</div>
</div>
<% end %>