/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@font-face {
	font-family: Stentiga;
	src: url('stentiga.otf');
}

$lightblue:#36b;

$neonblue:#2428AD;

$darkgrey:#cccccc;

$grey:#333333;

$lightgrey:#99989d;

$hovergrey:#262620;

$footergrey:#6C6B6E;

$bodygrey:#191919;

body, html {
	margin:0;
}
body {
	background-color:black;
	font-family: "Futura", "Veranda", "Heveletica", sans-serif !important;
}
#site_body {
	margin:auto;
	width:75%;
	padding:10px;
	color:$darkgrey;
}

#header {
	margin:0;
	font-family: "Futura", sans-serif;
	div#header_title {
		color: rgb(30,30,30);
		font-family: Stentiga, "Futura", sans-serif;
		background-color: $darkgrey;
		background-image:url('header_slice.jpg');
		background-repeat: repeat-x;
		margin:0px;
		width:100%;
		height:43px;
		text-align: center;
		font-size: 25pt;
		text-shadow: 0 1px 0 rgba(255,255,255,.5);
		z-index: 5;
		box-shadow:0px 1px 10px 3px rgba(0,0,0,0.3);
		position:relative;
		p {
			margin:0;
			padding:5px;
			font-size:20pt;
		}
		.name {
			font-size:20pt !important;
			padding:5px;
			padding-bottom:7px;
			letter-spacing: 1px;
		}
		.des {
			font-size: 14pt !important;
			letter-spacing: 5px;
			padding:5px;
			vertical-align: 5%;
			font-weight: 600;
		}
		/*.name:hover, .des:hover {
			text-shadow: 0 2px 0 rgba(255,255,255,0.5), 1px -1px 1px $lightblue;
		}*/
	}
	div#header_navbar {
		background-color: $grey;
		color:$lightgrey;
		border-bottom: 3px solid $darkgrey;
		z-index:1;
	}
	ul {
		list-style-type: none;
		margin: auto;
		padding: 0;
		width:550px;
		li {
			display:inline-block;
			text-transform: uppercase;
			padding:5px 15px;
			border-style: solid;
			border-top-style:none;
			border-bottom-style:none;
			border-right-color: rgba(40,40,40,1);
			border-left-color: rgba(255,255,255,0.2);
			border-width: 0px 2px 0px 1px;
			margin: 0px -2px;
			font-weight:bold;
			a {
				margin:5px;
				font-size:11pt;
				text-decoration: none;
				color: inherit;
			}
		}
		li:hover {
			color:$lightblue;
			background-color:#262620;
			text-shadow: 1px 1px 6px #2428AD;
		}
	}
}

div#footer {
	color:$footergrey;
	text-transform:uppercase;
	font-weight:bold;
	background-color:$grey;
	height:5%;
	width:100%;
	position:fixed;
	top:95%;
	text-align:center;
	font-family:"Futura", "Veranda", "Heveletica", sans-serif;
	p {
		margin:0px;
		padding:8px;
		font-size: 11pt;
	}
	span.newbutton {
		float:right;
		padding:0px 4px;
		border:1px solid $footergrey;
		border-radius:15px;
		&:hover {
			background-color:$footergrey;
		}
	}
}

#general_body {
	background-color:$bodygrey;
	border:1px outset rgba(255,255,255,0.2);
	border-radius: 25px;
	padding:20px;
}

.current_page {
	background-color:$hovergrey;
	color:#36b;
	text-shadow: 1px 1px 6px $neonblue;
}

.header_current_page {
	text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}

.nolink {
	color: inherit;
	text-decoration: inherit;
}
.nolink:hover {
	color: inherit;
}