/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@font-face {
	font-family: Stentiga;
	src: url('stentiga.otf');
}

body, html {
	margin:0;
}
body {
	background-color:#000000;
	font-family: sans-serif;
}
#site_body {
	margin:auto;
	width:75%;
	padding:10px;
	color:#ccc;
}

#header {
	margin:0;
	font-family: "Futura", sans-serif;
	div#header_title {
		font-family: Stentiga, "Futura", sans-serif;
		background-color: #ccc;
		background-image:url('header_slice.jpg');
		background-repeat: repeat-x;
		margin:0px;
		width:100%;
		height:43px;
		text-align: center;
		font-size: 25pt;
		text-shadow: 0 1px 0 rgba(255,255,255,.5), 0 -1px 0 rgba(0,0,0,.8);
		p {
			margin:0;
			padding:3px;
		}
		.name {
			font-size:25pt;
			padding:5px;
			letter-spacing: 1px;
		}
		.des {
			font-size: 17pt;
			letter-spacing: 5px;
			padding:5px;
		}
		.name:hover, .des:hover {
			text-shadow: 0 1px 0 rgba(255,255,255,0.5), 1px -1px 1px #36b;
		}
	}
	div#header_navbar {
		background-color: #333333;
		color:#99989d;
		border-bottom: 3px solid #ccc;
	}
	ul {
		list-style-type: none;
		margin: auto;
		padding: 0;
		overflow: hidden;
		width:605px;
		li {
			display:inline-block;
			text-transform: uppercase;
			padding:10px;
			border-style: solid;
			border-color: rgba(53,53,53,0.5);
			border-width: 0px 2px;
			a {
				margin:5px;
				font-size:11pt;
				text-decoration: none;
				color: inherit;
			}
		}
		li:hover {
			color:#36b;
			text-shadow: 1px 1px 6px #2428AD;
		}
	}
}

.current_page {
	background-color:#262620;
	color:#36b;
	text-shadow: 1px 1px 6px #2428AD;
}

.header_page {
	text-shadow: 0 1px 0 rgba(255,255,255,0.5), 1px -1px 10px #36b;
}

.nolink {
	color: inherit;
	text-decoration: inherit;
}
.nolink:hover {
	color: inherit;
}