// Place all the styles related to the project controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.project_header {
	margin:5px;
	h2 {
		margin: 0px auto;
		font-size:30pt;
		letter-spacing: 3px;
		color:#36b;
		text-shadow: 1px 1px 6px #2428AD;
		font-family: Futura, Stentiga, sans-serif;
	}
}
.section {
	margin:5px;
	padding:5px;
	h3 {
		font-size:20pt;
		margin: 0px 5px;
		color:#ccc;
		text-shadow: 1px 1px 6px #36b;
	}
}
.subsection {
	border:2px outset rgba(255,255,255,0.3);
	border-radius: 25px;
	margin:35px 7px;
	padding:10px;
	padding-left:0px;
	background-image:url('section_slice.jpg');
	background-repeat: repeat-x;
	background-color: black;
	height:389px;
	overflow: hidden;
	color:white;

	div {
		display:inline-block;
	}

	div.project_content {
		display:block;
	}

	.editing_controls {
		font-size: 12pt;
		color:#36b;
	}

	.left_align, .right_align {
		width: 45%;
	}

	.left_align {
		float:left;
	}
	.right_align {
		float:right;
		margin-top:0px;
		overflow:hidden;
		height:390px;
	}

	.project_title, .project_subtitle {
		text-transform: uppercase;
		margin-left: 5px;
	}

	h4.project_title {
		font-family: Futura, Verdana, "Heveletica", sans-serif;
		margin:5px 0px 5px 5px;
		font-size:16pt;
		letter-spacing: 1px;
		padding: 5px;
		padding-left:0px; 
		/*text-shadow: 1px 1px 6px #000000;*/
	}

	h5.project_subtitle {
		font-family: Futura, Verdana, "Heveletica", sans-serif;
		margin-top:0px;
		margin-bottom: 5px;
		font-size:11pt;
		letter-spacing: 1px;
		color:#36b;
		text-shadow: 1px 1px 6px #2428AD;
		padding: 5px;
		padding-left:0px;
	}
	p.project_description {
		font-family: Verdana, Futura, "Heveletica", sans-serif;
		margin-left:5px;
		overflow: auto;
		color:#949494;
		letter-spacing: 0px;
		line-height: 20px;
		text-align: justify;
		max-height:320px;
		font-size:10pt;
	}
	hr {
		width:97%;
		margin-top: 15px;
		margin-bottom: 18px;
		border-color:#949494;
		background-color:#949494;
	}
}

.content {
	padding:5px;
	label {
		padding: 5px;
	}
	form {
		text-align: justify;
	}
}